<header class="header">
  <a href="" class="logo">
    <img src="../../../assets/icons/inamhi.png" alt="inahmilogo"  style="width:120px;height:55px;"/></a>

  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a routerLink="/users" class="btn btn-link">Register Users</a></li>
    <li><a routerLink="../viewuser" class="btn btn-link">View Users</a></li>
    <li><a routerLink="../viewprognostic" class="btn btn-link">View Register Prognostic</a></li>
    <li><a routerLink="/login" class="btn btn-link">Login</a></li>
  </ul>
</header>

<div class="card">
<h1>Users</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2" >Add User</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 30%">First Name</th>
            <th style="width: 30%">Last Name</th>
            <th style="width: 30%">Username</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.username}}</td>
            <td style="white-space: nowrap">
                <a routerLink="edit/{{user.id}}" class="btn btn-sm btn-primary me-1">Edit</a>
                <button (click)="deleteUser(user.id)" class="btn btn-sm btn-danger btn-delete-user" [disabled]="user.isDeleting">
                    <span *ngIf="user.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!user.isDeleting">Delete</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!users">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>
</div>
