<header class="header">
  <a href="" class="logo">
    <img src="../../../assets/icons/inamhi.png" alt="inahmilogo" style="width:120px;height:55px;" /></a>

  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a routerLink="../user" class="btn btn-link">Register Users</a></li>
    <li><a routerLink="../viewuser" class="btn btn-link">View Users</a></li>
    <li><a routerLink="../viewprognostic" class="btn btn-link">View Register Prognostic</a></li>
    <li><a routerLink="../login" class="btn btn-link">Login</a></li>
  </ul>
</header>



<div class="card">
  <div class="BoxForm">
    <h4 class="card-header">Formulario para ingresar datos meteorológicos</h4>
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="station">Select a Station : </label>
          <select id="stations" name="stationlist" form="stationform">
            <option value="Quito">Esmeraldas</option>
            <option value="Loja">Santa Domingo</option>
            <option value="Cuenca">Quevedo</option>
            <option value="Cuenca">Manta</option>
            <option value="Cuenca">Guayaquil</option>
            <option value="Cuenca">Salinas</option>
            <option value="Cuenca">Santa Rosa</option>
            <option value="Cuenca">San Cristobal</option>
            <option value="Cuenca">Baltra</option>
            <option value="Cuenca">Tulcan</option>
            <option value="Cuenca">Quito</option>
            <option value="Cuenca">Latacunga</option>
            <option value="Cuenca">Ambato</option>
            <option value="Cuenca">Riobamba</option>
            <option value="Cuenca">Tena</option>
            <option value="Cuenca">Macas</option>
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label">Temperatura-Max</label>

          <div *ngIf="submitted && f.tempmax.errors" class="invalid-feedback">
            <div *ngIf="f.tempmax.errors.required">Temperatura-Max is required</div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Temperatura-Min</label>
          <div *ngIf="submitted && f.tempmin.errors" class="invalid-feedback">
            <div *ngIf="f.tempmin.errors.required">Temperatura-Min is required</div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Select Percipitation</label>
          <br>
          <input type="radio" id="si" name="percipitation" value="si" checked>
          <label for="si">Si</label>
        </div>
        <div>
          <input type="radio" id="No" name="percipitation" value="No">
          <label for="No">No</label>
        </div>
        <br><br>
        <div>
          <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="buttonenter"></span>
            Entregar
          </button>
        </div>
      </form>
    </div>
  </div>

</div>
