<div class="p-4">
    <div class="container">
        <h1> Bienvenidos {{user?.firstName}}!</h1>
        <p>¡Instrucciones!<br>
          Por favor haga clic en "Formulario"
          para ingresar datos meteorológicos</p>

        <a href="" class="logo">
          <img src="../../../assets/icons/forecast.png"
           alt="forecast" style="width:180px;height:170px;" /></a>

        <p><a routerLink="/form" class="button">Formulario</a> &nbsp; &nbsp;
           <a routerLink="/viewprog" class="button">Ver Registro Pronóstico</a></p>

    </div>
</div>
